* {
	margin: 0;
	padding: 0; 
}

html, body {
	height: 100%;
	margin: auto;
}

thead {
	text-transform: uppercase;
}

/*********** OTHER STYLES ***********/

.thumb {
	position: relative;
	width: 80px;
	height: 80px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.thumb img {
	position: absolute;
	left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.door {
	visibility: visible;
}